<!-- popup -->
<div class="iu-popup iu-popup--contact">
    <div class="iu-btn--close iu-btn--contact-close">&times;</div>
    <!-- login form -->
    <form action="/login" method="POST" class="iu-form iu-form--contact">
        <h3>Add Contact</h3>
        <div class="iu-form-element">
            <label for="contactUsername">Username</label>
            <input type="text" id="contact-username" name="contactusername" placeholder="Enter contact" required value="">
        </div>
        <div class="iu-form-element iu-form-element--submit">
            <button type="submit" class="iu-btn--colored">Add</button>
        </div>
        <div class="iu-form-element">
            <!-- Display error messages if they exist -->
            <% if (messages.error) { %>
                <ul>
                    <% messages.error.forEach(message => { %>
                        <li><%= "this is:" + message %></li>
                    <% }); %>
                </ul>
            <% } %> 
        </div>
    </form>
</div>

<div class="iu-row-wrapper iu-row-wrapper--full-width iu-row-wrapper--banner iu-row-margin-btm">
    <div class="iu-bg-opacity"></div>
    <div class="iu-row iu-row--banner">
        <div class="iu-content">
            <div class="iu-box iu-box--banner">
                <div class="iu-banner__text">
                    <div class="iu-logo iu-logo--profile">
                        <h2><%if(locals.ownProfile == true){%>Your Profile, <%= locals.username %><%}else{ %><%= locals.profileUsername + '\'s Profile' %><%}%></h2>
                    </div>
                </div>
                <div class="iu-banner__img">
                    <img src="/media/banner-mannequin-v2.png" alt="banner-mannequin-img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row">
        <div class="iu-content iu-content--profile">
            
            <div class="iu-box iu-box--profile">
                <div class="flex">
                    <h4 class="iu-profile--title"><%if(locals.ownProfile == true){%>YOU<%}else{ %><%= locals.profileUsername%><%}%></h4>
                    <%if(locals.ownProfile == false) { %>
                        <button class="iu-btn--colored iu-btn--removeContact" id="btn-removeContact">-</button>
                    <% } %>
                </div>
                <div class="iu-profile-card">
                    <div class="iu-profile--img">
                        <img src="/media/profile-placeholder-img.jpg" alt="your profile image">
                    </div>
                    <div class="iu-profile--desc">
                        <p><b>Username:</b> <span><%= locals.profileUsername %></span></p>
                        <hr>
                        <p><b>Company:</b> <span><%= locals.profileCompany %></span></p>
                        <hr>
                        <p><b>Uploads:</b> <span><%= locals.profileUploadlist.length %></span></p>
                    </div>
                </div>
            </div>
            <div class="iu-box iu-box--fl">
                <div class="iu-contacts-container">
                    <h4 class="iu-profile--title">Your Contacts [ <%if(locals.contactlist != 0){%><%=locals.contactlist.length%><%}else{%>0<%}%> ]</h4>
                    <button class="iu-btn--colored" id="btn-contactPopup">+</button>
                </div>
                <div class="iu-friendlist">
                    <ul>
                        <% for(const contact of locals.contactlist) { %>
                            <a class="singlefr__anchor" href="<%= '/profile/' + contact.username %>">
                            <li class="singlefr">
                                <img src="/media/profile-placeholder-img.jpg" alt="friends profile picture">
                                <div>
                                    <p class="singlefr--name"><%= contact.username %></p>
                                    <p class="singlefr--company"><%= contact.company == null ? 'NO COMPANY' : contact.company %></p>
                                </div>
                            </li>
                            </a>
                        <% } %>
                        <% if(locals.contactlist.length == 0) { %>
                            <h4>you have not added any contacts yet.</h4>
                        <% } %>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row">
        <div class="iu-content">
            <div class="iu-box iu-box--title">
                <h2><%if(locals.ownProfile == true){%>Your Uploads<%}else{ %><%= locals.profileUsername + '\'s Uploads' %><%}%></h2>
            </div>
        </div>
    </div>
</div>

<!-- uploaded meshes -->
<div class="iu-row-wrapper iu-row-margin iu-row-margin-btm">
    <div class="iu-row">
        <div class="iu-content">
            <div class="iu-box">
                <ul id="iu-um-list" class="iu-um-list">
                    <% for(const upload of locals.profileUploadlist) { %>
                        <div class="iu-um">
                            <div class="iu-um__color">
                                <!-- color indicator for user !TODO insert username -->
                            </div>
                            <a class="iu-um__desc" href="/uploads/<%= upload.user %>/<%= upload.id %>">
                                <h4 class="iu-um__title"><%= upload.originalFileName %></h4>
                                <div class="flex">
                                    <p><b>Note: </b></p><p class="iu-um__data iu-um__filename"><%= upload.note.substring(0,25) %> <% if(upload.note.length > 25) { %> <span>...</span> <% } %> </p>
                                    <p><b>Upload date: </b></p><p class="iu-um__data iu-um__date"><%= upload.created %> </p>
                                    <p><b>Filesize: </b></p><p class="iu-um__data iu-um__filename"><%= (upload.fileSize / 1000) - ((upload.fileSize / 1000) % 1) + ' KB'  %> </p>
                                </div>
                            </a>
                            <div class="iu-um__del">
                                <a class="iu_um_delanchor" data-id="<%= upload.id %>"></a>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    <% } %>
                    <% if(locals.profileUploadlist.length == 0) { %>
                        <h4><%if(locals.ownProfile == true){%>You have<%}else{ %><%= locals.profileUsername + ' has' %><%}%> not uploaded anything yet.</h4>
                        <% if(locals.ownProfile == true) { %>
                            <div>
                                <a class="iu-btn--colored iu-btn--no-uploads" href="<%='/uploads/' + locals.username %>">Upload a model!</a>
                            </div>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
