<div class="iu-row-wrapper iu-row-wrapper--full-width iu-row-wrapper--banner iu-row-margin-btm">
    <div class="iu-bg-opacity"></div>
    <div class="iu-row iu-row--banner">
        <div class="iu-content">
            <div class="iu-box iu-box--banner">
                <div class="iu-banner__text">
                    <div class="iu-logo">
                        <h2>Your Profile, <%= locals.username %></h2>
                    </div>
                </div>
                <div class="iu-banner__img">
                    <img src="/media/banner-mannequin.png" alt="banner-mannequin-img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row">
        <div class="iu-content iu-content--profile">
            
            <div class="iu-box iu-box--profile">
                <div>
                    <h4 class="iu-profile--title">You</h4>
                </div>
                <div class="iu-profile-card">
                    <div class="iu-profile--img">
                        <img src="/media/placeholder-img.png" alt="your profile image">
                    </div>
                    <div class="iu-profile--desc">
                        <p><b>Username:</b> <span><%= locals.username %></span></p>
                        <hr>
                        <p><b>Company:</b> <span><%= '!TODO' %></span></p>
                        <hr>
                        <p><b>Uploads:</b> <span><%= '!TODO' %></span></p>
                    </div>
                </div>
            </div>
            <div class="iu-box iu-box--fl">
                <div>
                    <h4 class="iu-profile--title">Contacts [0]</h4>
                </div>
                <div class="iu-friendlist">
                    <ul>
                        <li class="singlefr">
                            <img src="/media/placeholder-img.png" alt="friends profile picture">
                            <div>
                                <p class="singlefr--name">NAME</p>
                                <p class="singlefr--company">COMPANY</p>
                            </div>
                        </li>
                        <li class="singlefr">
                            <img src="/media/placeholder-img.png" alt="friends profile picture">
                            <div>
                                <p class="singlefr--name">NAME</p>
                                <p class="singlefr--company">COMPANY</p>
                            </div>
                        </li>
                        <li class="singlefr">
                            <img src="/media/placeholder-img.png" alt="friends profile picture">
                            <div>
                                <p class="singlefr--name">NAME</p>
                                <p class="singlefr--company">COMPANY</p>
                            </div>
                        </li>
                        <li class="singlefr">
                            <img src="/media/placeholder-img.png" alt="friends profile picture">
                            <div>
                                <p class="singlefr--name">NAME</p>
                                <p class="singlefr--company">COMPANY</p>
                            </div>
                        </li>
                        <li class="singlefr">
                            <img src="/media/placeholder-img.png" alt="friends profile picture">
                            <div>
                                <p class="singlefr--name">NAME</p>
                                <p class="singlefr--company">COMPANY</p>
                            </div>
                        </li>
                        <li class="singlefr">
                            <img src="/media/placeholder-img.png" alt="friends profile picture">
                            <div>
                                <p class="singlefr--name">NAME</p>
                                <p class="singlefr--company">COMPANY</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="iu-row-wrapper">
    <div class="iu-row">
        <div class="iu-content">
            <div class="iu-box iu-box--title">
                <h2>Your Uploads</h2>
            </div>
        </div>
    </div>
</div>

<!-- uploaded meshes -->
<div class="iu-row-wrapper iu-row-margin iu-row-margin-btm">
    <div class="iu-row">
        <div class="iu-content">
            <div class="iu-box">
                <ul id="iu-um-list" class="iu-um-list">
                    <% for(const upload of locals.uploadlist) { %>
                        <div class="iu-um">
                            <div class="iu-um__color">
                                <!-- color indicator for user !TODO insert username -->
                            </div>
                            <a class="iu-um__desc" href="/uploads/<%= upload.user %>/<%= upload.id %>">
                                <h4 class="iu-um__title"><%= upload.originalFileName %></h4>
                                <div class="flex">
                                    <p><b>Note: </b></p><p class="iu-um__filename"><%= upload.note.substring(0,25) %> <% if(upload.note.length > 25) { %> <span>...</span> <% } %></p>
                                    <p><b>Upload date: </b></p><p class="iu-um__date"><%= upload.created %></p>
                                    <p><b>Filesize: </b></p><p class="iu-um__filename"><%= (upload.fileSize / 1000) - ((upload.fileSize / 1000) % 1) + ' KB'  %></p>
                                </div>
                            </a>
                            <div class="iu-um__del">
                                <a class="iu_um_delanchor" data-id="<%= upload.id %>"></a>
                                <i class="fa-solid fa-trash"></i>
                            </div>
                        </div>
                    <% } %>
                    <% if(locals.uploadlist.length == 0) { %>
                        <h4>you have not uploaded anything yet.</h4>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
